# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# TypeScript Builds #
designeditor/static/designeditor/built/

# Other #
designeditor/static/designeditor/js-external/

# Node #
node_modules/